.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-width: 1240px; */
}

.adress {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.68rem;
  margin-bottom: 1rem;
}

.left {
  display: grid;
  justify-content: left;
}

.right {
  display: grid;
  align-content: space-between;
  justify-items: end;
  margin-bottom: 2rem;
}

.right a {
  text-decoration: none;
  color: var(--clr-very-dark-grey-500);
  font-size: 0.8rem;
  line-height: 2.25rem;
}
.right a:hover {
  text-decoration: underline;
}
.right p {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.logo {
  height: 2.18rem;
  margin-right: 1.25rem;
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  column-gap: 0.75rem;
}
