*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;

	--clr-primary-white: rgb(255, 255, 255);
	--clr-primary-black: #373f49;
	/* --clr-primary-dark: #383f49; */
	/* --clr-primary-blue: rgb(51, 187, 255); */

	/*grey*/
	--clr-very-light-grey-100: rgb(248, 249, 252);
	--clr-light-grey-200: rgb(236, 241, 248);
	--clr-medium-grey-300: rgb(124, 134, 147);
	--clr-dark-grey-400: rgb(102, 112, 133);
	--clr-very-dark-grey-500: rgb(55, 63, 73);

	/*violet*/
	--clr-light-violet: #e3daf9;
	--clr-base-violet: #6e41e2;
	--clr-violet-hover: #5835b0;
	--clr-violet-active: #472c8a;

	/*error-red*/
	--clr-error-red: rgb(244, 72, 62);

	/*warning-orange*/
	--clr-warning-orange: rgb(244, 128, 62);

	/*success - green*/
	/* --clr-very-light-green-100: rgb(206, 243, 288); */
	/* --clr-light-green-300: rgb(108, 220, 175); */
	--clr-base-green-500: rgb(10, 194, 120);
	/* --clr-dark-green-700: rgb(6, 118, 73); */
	/* --clr-very-dark-green-800: rgb(4, 78, 49); */

	/*info -blue*/
	--clr-info-very-light-blue-100: rgb(204, 229, 243);
	--clr-info-light-blue-300: rgb(102, 177, 220);
	--clr-info-base-blue-500: rgb(0, 125, 196);
	--clr-info-dark-blue-700: rgb(0, 75, 118);
	--clr-info-very-dark-blue-800: rgb(0, 50, 78);

	/*brand-colors-blue*/
	--clr-very-light-blue: #cceeff;
	--clr-light-blue: hsl(200, 100%, 75%);
	--clr-base-lighter-blue: rgb(77, 195, 255);
	--clr-base-darker-blue: rgb(26, 178, 255);
	--clr-dark-blue: rgb(0, 153, 230);
	--clr-very-dark-blue: rgb(0, 102, 153);
}

body {
	max-width: 1280px;
	margin: 0 auto;
}
