.container {
  display: grid;
  margin-top: 6rem;
  grid-template-areas: "left right";
  width: 100%;
}

.left {
  grid-area: left;
  width: 100%;
}

.right {
  grid-area: right;
  width: 90%;
  margin-left: 5rem;
  padding-top: 6rem;
}

.right h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}

.form input {
  height: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--clr-very-dark-grey-500);
}

.form input::placeholder {
  padding-left: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  color: var(--clr-medium-grey-300);
}

/* .form button {
  height: 3rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  background-color: var(--clr-base-violet);
  border: none;
  color: var(--clr-very-light-grey-100);
  font-family: inherit;
  font-size: inherit;
} */

/* .form button:hover {
  background-color: var(--clr-violet-hover);
  cursor: pointer;
}

.form button:active {
  background-color: var(--clr-violet-active);
} */

.loginbutton {
  /* height: 2.75rem;
  width: 19rem; */
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid var(--clr-very-dark-grey-500);
  background: transparent;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

.loginbutton:hover {
  cursor: pointer;
}

.box {
  border-radius: 1.3rem;
}

.separator {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.separator .line {
  height: 1px;
  flex: 1;
  background-color: #000;
}

.separator p {
  padding: 0 2rem;
}
/* .pstyle {
  text-align: center;
  margin: 30px 0 20px;
} */

.right button {
  height: 3rem;
  font-size: inherit;
  transition: all.2s ease;
}
