.input {
	visibility: hidden;
	height: 0;
	width: 0;
}

.label {
	cursor: pointer;
	background-color: var(--clr-primary-white);
	padding: 0.5rem 1rem;
	border: 1px solid var(--clr-base-darker-blue);
	border-radius: 4px;
	display: table-cell;
	margin: 0 1rem 0.6rem 0;
	color: var(--clr-base-darker-blue);
	font-size: 0.875rem;
	transition: all 0.2s ease;
}

.input:checked + label {
	background-color: var(--clr-light-blue);
	color: var(--clr-very-dark-blue);
	border: 1px solid var(--clr-base-darker-blue);
}

.input:hover + label {
	background-color: var(--clr-very-light-blue);
	color: var(--clr-base-darker-blue);
	border: 1px solid var(--clr-base-darker-blue);
}
