.app {
  /* min-width: 100vw; */
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas:
    "navbar"
    "page_content"
    "footer";
  margin: 0 60px;
}

.navbar {
  grid-area: navbar;
}

.page_content {
  grid-area: page_content;
}

.footer {
  grid-area: footer;
}
