.add_offer_wrapper {
  width: 80%;
  max-width: 864px;
  margin: 0 auto;
  border: 2px solid var(--clr-base-lighter-blue);
  border-radius: 12px;
  padding: 1rem 6rem;
  margin-top: 4rem;
}

.title {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.add_offer_form {
  width: 100%;
}

.project_title {
  width: 100%;
  height: 30px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.description,
.skills {
  width: 100%;
  height: 5rem;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 0.5rem;
}

.add_file_input {
  visibility: hidden;
}

.add_file {
  content: 'add file';
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 0.88rem;
  height: 39px;
  width: 104px;
  color: white;
  background-color: var(--clr-base-darker-blue);
  border-radius: 4px;
  cursor: pointer;
}

.add_file:hover {
  background-color: #159adc;
}

.character_counter {
  display: flex;
  justify-content: space-between;
  color: #c2c2c2;
  font-size: 0.75rem;
}

.skills {
  height: 4rem;
}

.premium_plan_section {
  border: 1px solid #e8e9ec;
  padding: 1rem;
}

.total {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right;
}

.submit_section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.submit_button {
  height: 44px;
  width: 162px;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #0099e6;
  background-color: #80d4ff;
  color: #0099e6;
  margin: 2rem 0;
}
