.button {
  color: var(--clr-base-darker-blue);
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  border: 1.5px solid var(--clr-base-darker-blue);
  border-radius: 4px;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.2s ease;
}

.button:hover {
  color: var(--clr-base-darker-blue);
  background-color: var(--clr-very-light-blue);
  box-shadow: 0 0.2rem 0.4rem 0 #d9d9d9;
  cursor: pointer;
}

.button:active,
.button:focus {
  color: var(--clr-light-grey-200);
  background-color: var(--clr-dark-blue);
}

.button:disabled {
  background-color: var(--clr-light-grey-200);
}
