.wrapper {
  margin-top: 2rem;
}

.header {
  font-size: 3rem;
  font-weight: 400;
  color: rgb(0, 102, 153);
  margin-bottom: 1rem;
}

.chip_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 2rem;
  color: hsl(213, 14%, 25%);
}

.chip.active_chip {
  background-color: var(--clr-light-blue);
  color: var(--clr-very-dark-blue);
  border: 1px solid var(--clr-base-darker-blue);
}

.list {
  margin-top: 2rem;
  list-style: none;
}

.list_item {
  margin: 2rem 0;
}

.sorter {
  display: flex;
  gap: 1rem;
}

.sorter_item {
  background-color: transparent;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  transition: text-shadow 0.2s;
}

.sorter_item:hover {
  text-shadow: 0 0 0.6px rgb(55, 63, 73);
  cursor: pointer;
}

.sorter_item_active {
  text-shadow: 0 0 0.6px rgb(55, 63, 73);
  cursor: pointer;
}
