.wrapper {
  margin-top: 2rem;
}

.header {
  font-size: 3rem;
  font-weight: 400;
  color: rgb(0, 102, 153);
  margin-bottom: 1rem;
}

.chip_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.chip.active_chip {
  background-color: var(--clr-light-blue);
  color: var(--clr-very-dark-blue);
  border: 1px solid var(--clr-base-darker-blue);
}

.list {
  margin-top: 2rem;
  list-style: none;
}

.list_item {
  margin: 2rem 0;
}
