.user_profile {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  grid-template-areas:
    "general_info contact"
    "skills look"
    "experience empty"
    "education empty";
  margin: 2rem 0;
}

/* Experience */

.experience {
  grid-area: experience;
}

.experience_header {
  margin-bottom: 20px;
  font-size: 24px;
}

.experience_item {
  display: flex;
  margin: 20px 0;
  align-items: flex-start;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Zmienić logo na background image */
.experience_logo {
  max-height: 80px;
  width: 44px;
  margin-right: 20px;
}

.experience_description {
}

.role {
  margin-bottom: 8px;
  font-size: 20px;
}

.companyName {
  margin-bottom: 4px;
  font-size: 14px;
}

.timespan {
  font-size: 14px;
}

/* Skills */

.education {
  grid-area: education;
}

/* Contact */

.contact {
  grid-area: "contact";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(236, 241, 248);
  padding: 24px 24px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 8px 8px 24px -24px rgba(66, 68, 90, 1);
  text-align: center;
}

.contact_header {
  margin-bottom: 24px;
}

/* Look button */

.look {
  grid-area: look;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.look_button {
  width: 100%;
  border: 1.5px solid var(--clr-base-darker-blue);
  background-color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px rgba(66, 68, 90, 0.07);
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

ul {
  list-style: none;
}
