.navlink {
  color: var(--clr-ver-dark-grey-500);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 12px;
  transition: text-shadow 0.2s;
}

.navlink:hover {
  text-shadow: 0 0 0.6px rgb(55, 63, 73);
}
