.summary_wrapper {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 12px;
  min-height: 352px;
}

.top_summary {
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.summary_data {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.description_summary {
  width: 100%;
  height: 5rem;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 0.5rem;
}

.skills {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.payment_method {
  font-weight: 300;
}

.summary_skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  gap: 5px;
  border: 1px solid rgb(128, 212, 255);
  border-radius: 8px;
  font-size: 0.7rem;
  padding: 0 10px;
  background-color: white;
  transition: border 0.1s linear;
}

.summary_skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0.5rem;
}
