/* .wrapper {
	margin-top: 2rem;
} */

.wrapper h3 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.list {
	width: 60rem;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	text-decoration: none;
	color: var(--clr-primary-black);
	/* margin-top: 2rem; */
}

.controls button {
	position: absolute;
	z-index: 5;
	outline-style: none;
	transform: scale(3);
	border: none;
	color: var(--clr-base-darker-blue);
	background-color: transparent;
}

.controls button svg:hover {
	cursor: pointer;
	border-radius: 50%;
	color: white;
	background-color: var(--clr-light-blue);
}

.controlsPrev {
	top: 50%;
	left: -1.8rem;
}

.controlsNext {
	top: 50%;
	right: -1.8rem;
}
